#links {
 background-image: url(../images/fon3.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 900px;
 max-width: 100%;
 margin: auto;
 padding: 0;
}

p {
 color: yellow;
 font-size: 24px;
 font-weight: 100
}

.conteiner {
 display: flex;
 align-content:space-around;
 flex-wrap:wrap;
 align-items:flex-start;
flex-direction:row;
justify-content:space-between;
 font-size: 24px;
 /* Размер шрифта */
 font-weight: bold;
 /* Жирное начертание */
 color: yellow;
 /* Цвет ссылки */
 text-decoration: none;
 margin: auto;
 padding: 0;
 width: auto;
}

#link1 {
 background: url(../images/validator.png  );
 height: 150px;
 position: relative;
 width: 131px;

}

#link2 {
 background: url(../images/github.png  );
 height: 150px;
 position: relative;
 width: 131px;
 text-decoration: none;

}

#link3 {
 background: url(../images/cloud9.png );
 height: 150px;
 position: relative;
 width: 131px;
 text-decoration: none;
}
#link4 {
 background: url(../images/learncssgrid.png );
 height: 150px;
 position: relative;
 width: 131px;
 text-decoration: none;
}

#link5 {
 background: url(../images/developer.mozilla.org.png  );
 height: 150px;
 position: relative;
 width: 131px;
 text-decoration: none;

}

#link6 {
 background: url(../images/app.moqups.png);
 height: 150px;
 position: relative;
 width: 131px;
 text-decoration: none;

}
#link8{
border:0;
 height: auto;
 position: relative;
 width: auto;
 padding-top: 50px;
 
}
#li {
 font-size: 24px;
 color: brown;
}

a {
 font-size: 24px;
 color: green;
}
